.git
.gitignore
.idea
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

.env
.env.*
!.env.example
!.env.example.env

data
logs
backups
wiki

*.log
*.tar
*.tar.gz
*.zip
.DS_Store

!model-cache/
!model-cache/chroma/
!model-cache/chroma/onnx_models/
!model-cache/chroma/onnx_models/all-MiniLM-L6-v2/
!model-cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx.tar.gz
